extends ../../layout

block title
	title ПЕРЕВОДЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title ПЕРЕВОДЫ
		.nav_project_children
		br
		b.nav_settings_title настройки
		//- .draft черновик
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth/edit/courses') < Назад
		.title= 'ПЕРЕВОД ДЛЯ КУРСА: ' + course.title.ru.content.toUpperCase()
	form(action="", method="post")
		- var def = course.langs.def
		.form_title Заголовок:
		each lang in course.langs.languages
			- var flag = course.title[lang].date >= course.title[def].date ? 'ok' : 'bad'
				b= lang + ' ' + flag + ' ' + course.title[lang].content
			br
			input.ru(type="text", name=lang + "[title]",)
			br
		.form_title Описание:
		each lang in course.langs.languages
			- var flag = course.description[lang].date >= course.description[def].date ? 'ok' : 'bad'
			b= lang + ' ' + flag + ' ' + course.description[lang].content
			br
			textarea.ru(name=lang + "[description]", rows="8",)
			br
		br
		input(type='submit', value='отправить')